@import 'bootstrap/dist/css/bootstrap.css';
@import "bootstrap-icons/font/bootstrap-icons.css";

// $info: #596FB7;
// $bs-table-bg: #596FB7;

$theme-colors: (
  // ... other colors ...
  bs-table-bg: #596FB7, // Replace with your desired color value
);

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
